.slider {
    background: rgba(255, 0, 0, 0.5);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.square {
    background: white;
    width: 320px;
}
.logo{
    color: rgba(255, 0, 0, 0.5);
}
.hover {
    border-radius: 50%;
    color: gray;
    cursor: pointer;
}

.hover:hover {
    color: white;
    background: rgba(255, 0, 0, 0.5);
}
